<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <meta charset="UTF-8">
  <link  rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link  rel="stylesheet" type="text/css" href="/static/css/common.css">
  <link  rel="stylesheet" type="text/css" href="/static/js/layui/css/modules/layer/default/layer.css">
  <script  type="text/javascript" src="/static/js/jQuery(v3.4.1).js"></script>
  <script type="text/javascript" src="/static/js/vue.min.js"></script>
  <script type="text/javascript" src="/static/js/vue-router.min.js"></script>
  <script type="text/javascript" src="/static/js/axios(v0.19.0).js"></script>
  <script type="text/javascript" src="/static/js/Tool.js"></script>
  <script type="text/javascript" src="/static/js/requestUrl.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/layui/lay/modules/layer.js"></script>
</head>
</html>